<a href="https://colab.research.google.com/github/srividya-123/Python-Assignment-/blob/master/Python_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Question 1
year=int(input("Enter the year")) 
if year%12==0:
   print("monkey")
elif year%12==1:
   print("rooster")
elif year%12==2:
   print("dog") 
elif year%12==3:
   print("pig") 
elif year%12==4:
   print("rat")
elif year%12==5:
   print("ox") 
elif year%12==6:
   print("rabbit") 
elif year%12==7:
   print("tiger") 
elif year%12==8:
   print("dragon")
elif year%12==9:
   print("snake") 
elif year%12==10:
   print("horse")
else:
   print("sheep")

Enter the year4
rat

In [65]:
#Question 2
D=int(input("distance to be travel:")) 
w=int(input("weight of goods:")) 
if D>=500:
   if w>=100:
      print("Amount to be Charged:",5*D)
   elif w>=10 or w<100:
      print("Amount to be charged:",6*D)
   else:
      print("Amount to be charged:",7*D)
else:
   if w>100:
      print("Amount to be charged:",8*D)
   else:
      print("Amount to be charged:",5*D)

distance to be travel:520
weight of goods:50
Amount to be charged: 3120

In [66]:
#QUESTION 3
seat=input("select type of seat") 
pay=input("mode of payment")
if seat=="stall":
   cot=625
elif seat=="circle": 
   cot=750
elif seat=="upper class":
   cot=850
elif seat=="Box":
   cot=1000
else:
   print("Invalid")
if pay=='cash':
   cot=(cot-(cot*10)//100)
else:
   cot=(cot-(cot*5)//100)
print("cost of ticket",cot)

select type of seatcircle
mode of paymentcash
cost of ticket 675

In [35]:
#QUESTION 4
M=float(input("Enter the amount of water in kilograms:"))
initialTemperature =float(input("Enter the initialTemperature of water in degree Celsius:")) 
finalTemperature =float(input("Enter the finalTemperature of water in degree Celsius:"))
Q=M*(finalTemperature-initialTemperature)*4184
print(f'Energy required to heat the water={Q}joules')

Enter the amount of water in kilograms:34
Enter the initialTemperature of water in degree Celsius:36
Enter the finalTemperature of water in degree Celsius:66
Energy required to heat the water=4267680.0joules

In [ ]:
#QUESTION 5
Month=input("Enter the month:")
if Month=="December" or Month=="January" or Month=="February":
     print("Winter")
elif Month=="March" or Month=="April" or Month=="May":
     print("Spring") 
elif Month=="June" or Month=="July" or Month=="August": 
     print("Summer") 
else:
     print("Autumn")

Enter the month:July
Summer

In [57]:
#QUESTION 6
W=int(input("Enter weight in pounds:")) 
H=int(input("Enter height in inches:"))
m=float(0.45359237*W)
n=float(0.0254*H)
BMI=float(m/n**2)
print(BMI)
if(BMI<18.5):
  print("Under weight")
elif(BMI>18.5 and BMI<25.0):
  print("Normal")
elif(BMI>25.0 and BMI<30.0):
  print("Overweight") 
else:
  print("Obesity")

Enter weight in pounds:24
Enter height in inches:15
74.99408849484365
Obesity

In [58]:
#question 7
i=int(input("Enter the elements between 100 and 1000:" ))
sum=0
while i>0:
  n=i%10
  sum=sum+n
  i=int(i/10)
print(sum)

Enter the elements between 100 and 1000:745
16

In [38]:
#QUESTION 8
for x in range(1,1001):
  sum=0
  temp=x
  while x>0:
       r=x%10
       sum=sum*10+r
       x=x//10
  if temp==sum:
       print(temp,end=" ")

1 2 3 4 5 6 7 8 9 11 22 33 44 55 66 77 88 99 101 111 121 131 141 151 161 171 181 191 202 212 222 232 242 252 262 272 282 292 303 313 323 333 343 353 363 373 383 393 404 414 424 434 444 454 464 474 484 494 505 515 525 535 545 555 565 575 585 595 606 616 626 636 646 656 666 676 686 696 707 717 727 737 747 757 767 777 787 797 808 818 828 838 848 858 868 878 888 898 909 919 929 939 949 959 969 979 989 999

In [46]:
#QUESTION 9
for x in range(1,1001):
    sum=0
    temp=x
    while x>0:
      n=x%10
      sum+=n*n*n
      x=x//10
    if sum==temp:
      print(temp,end=" ")

1 153 370 371 407

In [ ]:
#QUESTION 10
for i in range(1,101):
    if i%3==0 and i%5==0:
       print("fizz buzz")
    elif i % 3==0:
       print("Fizz") 
    elif i % 5==0:
       print("Buzz")
    else:
       print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
fizz buzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
fizz buzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
fizz buzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
fizz buzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
fizz buzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
fizz buzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [63]:
#QUESTION 11
h=int(input("Enter the height of well="))
p=int(input("Enter the meters which are climbed="))
q=int(input("Enter slips down="))
S=((h-p)+(p-q))//(p-q)
print(S+1)

Enter the height of well=150
Enter the meters which are climbed=30
Enter slips down=2
6